# GEMINI_API_KEY: Required for Gemini AI API calls.
# This is a placeholder key.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY=MY_GEMINI_API_KEY
GITHUB_PAT=YOUR_GITHUB_PAT
GITHUB_REPO=https://github.com/username/repo
GOOGLE_DRIVE_CLIENT_ID=YOUR_CLIENT_ID_HERE

# FIREBASE_DB_URL: Required to send bot logs to central Firebase Realtime DB server
FIREBASE_DB_URL=https://your-project-id.firebaseio.com

# NVIDIA_NIM_API_KEY: Required for NVIDIA NIM Computer Vision API.
NVIDIA_NIM_API_KEY=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

